<p>This is the partial for view 1.</p>
<form>
    User Name <input ng-model="username">
    Password <input ng-model="password">
</form>
<button ng-click="addUser()">
    Add User
</button>
<!--<button ng-click="loginUser()">-->
    <!--Login-->
<!--</button>-->
<!--<p>-->
<!--<a href="#/site">-->
    <!--back to rivers page-->
<!--</a></p>-->
<!--<div>-->
    <!--Search:<input ng-model="searchTerm"/>-->

<!--<br>-->

<!--<tr>-->
    <!--<td><label for="discharge">Flow</label></td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td><input id="discharge" size="7" readonly="readonly" /></td>-->
<!--</tr>-->
<!--<br>-->
<!--<div ng-repeat="site in sites | orderBy:'name' | filter:searchTerm">-->

    <!--<list-of-rivers>-->
        <!--<a href="#/site_detail/{{site.id}}">-->
            <!--{{site.description }}-->
        <!--</a>-->
        <!--<button ng-click="addRiverToUser(site.id, user.id)">-->
            <!--{{site.id}}-->
        <!--</button>-->
    <!--</list-of-rivers>-->
    <!--</div>-->
<!--</div>-->