
<head>

	<title>River Levels</title>



</head>
<body>
    <!--<button ng-click="loginModal()">Login</button>-->

        <h1>river levels</h1>

    <input placeholder="search" ng-model="searchTerm"/>


    <div>
        <br>
        <input placeholder="flow in CFS" id="discharge" size="16" readonly="readonly" class="flow"/>
    </div>
    <!--<div class="container">-->
     <div class="container-fluid">
        <div class="btn-group">

            <div ng-repeat="site in sites | orderBy:'name' | filter:searchTerm">
                <ul class="nav nav-pills nav-stacked">
                    <button class="btn btn-sm btn-success" ng-click="fillInputBoxAndGetFlows(site.site)">
                     {{site.description}}
                    </button>


                </ul>
            </div>
        </div>
    </div>

  <button ng-click="openModal()">can't find a site?</button>
</body>

